.write_form {
    position: relative;
    width: 1280px;
    height: 590px;
}

.write_form .row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.write_form .row .label {
    float: left;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    padding: 18px 0 0 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    background-color: #f6f6f6;
    text-align: left;
}

.write_form .row .input_box {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

.write_form .row .input_box.passChk_box {
    height: 20px;
}

input {
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: #fff;
}

button {
    box-sizing: border-box;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    background-color: #bbb;
}

.write_form .row .input_box input {
    width: 250px;
    height: 40px;
    padding: 0 20px;
    vertical-align: top;
}

.write_form .row .id input {
    float: left;
    margin: 0 10px 0 0;
}

.write_form .row .input_box button {
    height: 40px;
    padding: 0 20px;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.write_form .row.post_address .label {
    height: 170px;
}

.write_form .row.post_address .input_box div input {
    /* float: left; */
    width: 330px;
}

.write_form .row.post_address .input_box > input {
    width: 100%;
    margin: 10px 0 0 0;
}

.write_form .row .input_box.phone,
.write_form .row .input_box.email {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.write_form .row .input_box.phone .marketing,
.write_form .row .input_box.email .marketing {
    position: relative;
    display: flex;
    flex-direction: row;
    /* margin-left: 40px; */
    left: 40px;
    align-items: center;
}

.write_form .row .input_box.phone .marketing .chk_box,
.write_form .row .input_box.email .marketing .chk_box {
    position: relative;
    display: flex;
    flex-direction: row;
}

.write_form .row .input_box.phone .marketing .chk_box .chk_box_input,
.write_form .row .input_box.email .marketing .chk_box .chk_box_input {
    width: 50px;
    height: 20px;
    top: 0;
}