.inner_txt {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    top: 100px;
}

.sub_tit {
    display: block;
    padding: 70px 0 50px;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

.sub_txt {
    font-size: 1.125rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    word-break: keep-all;
}

.login_form {
    box-sizing: border-box;
    width: 600px;
    max-width: 100%;
    padding: 60px;
    margin: 30px auto 0;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
}

.login_form input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
}

.login_form input[type="text"] {
    margin: 0 0 10px 0;
}

.login_form button {
    margin: 30px 0;
    width: 100%;
    height: 50px;
    font-size: 1.125rem;
    background-color: #0766ee;
    color: #fff;
}

.login_form ul {
    display: block;
    text-align: center;
}

.login_form ul li {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.login_form ul .list_after::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 95px;
    width: 1px;
    height: 14px;
    background-color: #ddd;
    
}

.login_form ul .list_after2::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 113px;
    width: 1px;
    height: 14px;
    background-color: #ddd;
    
}

.login_form ul li a {
    display: block;
    font-size: 0.875rem;
    color: #777;
    text-decoration: none;
}

