/* 회원정보관리 */

.write_form .row .label {
    float: left;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    padding: 18px 0 0 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    background-color: #f6f6f6;
    text-align: left;
}

.phone,
.email {
    align-items: center;
    overflow-y: hidden;
}

.Member {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chk_box_input {
    top: 0;
}

.infoModi {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_pw_change {
    background-color: #0766ee;
}

.cur {
    height: 30px;
}

.btn_ok {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: 500;
    background-color: #0766ee;
    color: #fff;
}

/* .pw_box {
    display: none;
    padding: 20px 0 0 0;
}

.pw_box li {
    margin: 10px 0 0 0;
}

.pw_box li:first-child {
    margin: 0;
}

.pw_box li label {
    display: block;
}

.pw_box li input {
    display: block;
    margin: 10px 0 0 0;
}

.pw_modify.open .label {
    height: 240px;
} */