nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar-left {
    position: relative;
    left: 5%;
    width: 50px;
}

nav .navbar-right {
    width: 100%;
}

.navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    /* left: 20%; */
    z-index: 2;
}

.navbar ul li {
    list-style-type: none;
    padding: 30px 0;
}

.navbar ul li a {
    padding: 30px 70px;
    text-decoration: none;
    font-weight: 400;
    color: #000;
}

.navbar ul li a:hover {
    color: #2789F6;
    transition: all 0.3s;
}
.login_part {
    position: relative;
    margin-left: 10%;
    display: flex;
    flex-direction: row;

}
.login_part li a:nth-child(1) {
    padding: 30px 20px;
}

.login_part  .info::after,
.login_part .login::after {
    position: relative;
    content: "|";
    border: 0px solid #000;
}
