.Service {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #eff1f2;
}

.Service h1 {
    position: absolute;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    color: #2789F6;
    top: 100px;
    letter-spacing: 15px;
}

.Service::before {
    content: "";
    position: absolute;
    border: 1.5px solid #2789F6;
    background-color: #2789F6;;
    height: 70px;
}

.Service-body {
    width: 100%;
    height: 750px;
    
}

.Service-part {
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.icon {
    text-decoration: none;
    color: #2789F6;
}

.icon h3,
.icon p {
    margin-top: 20px;
}